@use "@/styles/util.scss" as util;

.mainContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  flex: 1;
  flex-direction: column-reverse;
  > .inputContainer {
    background-color: #daeae8;
    z-index: 1;
    width: 712px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 40px;

    > .input-textArea {
      margin: 10px;
      background-color: #daeae8;
      width: calc(100% - 20px);
      outline: none;
      border: none;
      resize: none;
      overflow: auto;
      font-size: 18px;
      font-family: 'Pretendard-Regular', serif;
      box-sizing: border-box;
    }

    > .input-textArea:focus {
      border: none;
    }
  }
}

.conversationContainer {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  flex: 1;
  overflow-y: auto;
  align-items: center;
  position: relative;

  >.outputContainer {
    width: 712px;
    display: flex;
    flex-direction: column
  }

  >.menuContainer {
    position: fixed;
    height: 50px;
    width: 150px;
    top: 10px;
    right: 0;
    @include util.flexCenter;
    font-size: 30px;

    >.bookIcon {
      cursor: pointer;
      margin: 7px;
    }

    >.bookIcon:hover {
      margin: 5px;
      font-size: 34px;
    }
  }
}