body {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  user-select: none;
  overflow: hidden;
}

#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
}

::-webkit-scrollbar {
  width: 12px; /* 세로 스크롤바 너비 */
  height: 12px; /* 가로 스크롤바 높이 */
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f3f3f3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e1e1e1;
}
